@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  /* text-align: center; */
}

.main-container {
  height: 80vh;
  /* background-color: #1E40AF; */
  /* width: 100%; */
  width: 800px;
  text-align: center;
}

/* Navigation Menu */
.nav-menu {
  background-color: #1A1A1A;
  padding: 6px;
  border-radius: 15px;
  margin-bottom: 3em;
  /* margin-top: 5em; */
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 1em;
  list-style-type: none;
}

.nav-menu ul li {
  cursor: pointer;
  padding: 0.6em 0.7em;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul li.active {
  background-color: #1E40AF;
  box-shadow: 0 2px 4px 0 #1E40AF50;
}

/* Badges Page */
.badges-container > div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 1em;
}

.badge {
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: red;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}

.gray {
  background-color: #F3F4F6;
  color: #1F2937;
}

.red {
  background-color: #FEE2E2;
  color: #991B1B;
}

.yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

.green {
  background-color: #D1FAE5;
  color: #065F46;
}

.blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

.indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

.purple {
  background-color: #EDE9FE;
  color: #5B21B6;
}

.pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

/* Banners Page */
.banners-container {
  /* background-color: #065F46; */
  text-align: left;
}

.banners-container .banner {
  width: 100%;
  /* height: 80px; */
  /* background-color: darkblue; */
  display: flex;
  margin-bottom: 1em;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.banner > div {
  margin-left: 12px;
}

.banner svg {
  align-self: flex-start;
}

.banner > div h2 {
  font-size: 0.87rem;
  font-weight: 600;
}

.banner > div p {
  font-size: 0.8rem;
  margin-top: 0.6em;
  font-weight: 500;
}

/* Success */
.success {
  background-color: #ECFDF5;
}

.success h2 {
  color: #065F46;
}

.success p {
  color: #047857;
}

.success svg {
  color: #34D399;
}

/* Warning */
.warning {
  background-color: #FFFBEB;
}

.warning h2 {
  color: #92400E;
}

.warning p {
  color: #B45309;
}

.warning svg {
  color: #FBBF24;
}

/* Error */
.error {
  background-color: #FEF2F2;
}

.error h2 {
  color: #92400E;
}

.error p {
  color: #B45309;
}

.error svg {
  color: #F87171;
}

/* Neutral */
.neutral {
  background-color: #EFF6FF;
}

.neutral h2 {
  color: #1E40AF;
}

.neutral p {
  color: #1C51B9;
}

.neutral svg {
  color: #60A5FA;
}

/* Cards page */
div.card {
  margin-inline: auto;
  background-color: #F9FAFB;
  width: 384px;
  height: 212px;
  border-radius: 8px;
  text-align: center;
  padding-inline: 24px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;
}

div.card:hover {
  /* box-shadow: 0px 4px 25px 0 #0000001A; */
  transform: translateY(-2px);
  box-shadow: 0px 4px 25px 0 #ffffff1A;
}

.card .upload-sign {
  width: 48px;
  height: 48px;
  background-color: #3F75FE;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin-inline: auto;
  box-shadow: 0 4px 6px -2px #0000000D;
}

.card h3 {
  color: #111827;
  font-weight: 600;
}

.card p {
  color: #6B7280;
}