@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.main-container {
  height: 80vh;
  width: 100%;
  text-align: center;
}

/* Navigation Menu */
.nav-menu {
  background-color: #1A1A1A;
  padding: 6px;
  border-radius: 15px;
  margin-bottom: 2em;
  margin-inline: auto;
  width: 800px;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 1em;
  list-style-type: none;
}

.nav-menu ul li {
  cursor: pointer;
  padding: 0.6em 0.7em;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul li.active {
  background-color: #1E40AF;
  box-shadow: 0 2px 4px 0 #1E40AF50;
}

/* Badges Page */
.badges-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 1em;
}

.badge {
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: red;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}

.gray {
  background-color: #F3F4F6;
  color: #1F2937;
}

.red {
  background-color: #FEE2E2;
  color: #991B1B;
}

.yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

.green {
  background-color: #D1FAE5;
  color: #065F46;
}

.blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

.indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

.purple {
  background-color: #EDE9FE;
  color: #5B21B6;
}

.pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

/* Banners Page */
.banners-container {
  text-align: left;
}

.banners-container .banner {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.banner > div {
  margin-left: 12px;
}

.banner svg {
  align-self: flex-start;
}

.banner > div h2 {
  font-size: 0.87rem;
  font-weight: 600;
}

.banner > div p {
  font-size: 0.8rem;
  margin-top: 0.6em;
  font-weight: 500;
}

/* Success */
.success {
  background-color: #ECFDF5;
}

.success h2 {
  color: #065F46;
}

.success p {
  color: #047857;
}

.success svg {
  color: #34D399;
}

/* Warning */
.warning {
  background-color: #FFFBEB;
}

.warning h2 {
  color: #92400E;
}

.warning p {
  color: #B45309;
}

.warning svg {
  color: #FBBF24;
}

/* Error */
.error {
  background-color: #FEF2F2;
}

.error h2 {
  color: #92400E;
}

.error p {
  color: #B45309;
}

.error svg {
  color: #F87171;
}

/* Neutral */
.neutral {
  background-color: #EFF6FF;
}

.neutral h2 {
  color: #1E40AF;
}

.neutral p {
  color: #1C51B9;
}

.neutral svg {
  color: #60A5FA;
}

/* Cards page */
div.card {
  margin-inline: auto;
  background-color: #F9FAFB;
  width: 384px;
  height: 212px;
  border-radius: 8px;
  text-align: center;
  padding-inline: 24px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;
}

div.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 25px 0 #ffffff1A;
}

.card .upload-sign {
  width: 48px;
  height: 48px;
  background-color: #3F75FE;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  margin-inline: auto;
  box-shadow: 0 4px 6px -2px #0000000D;
}

.card h3 {
  color: #111827;
  font-weight: 600;
}

.card p {
  color: #6B7280;
}

/* Testimonials Page */
.testimonial-img-container {
  background-color: #2545B8;
  margin-top: 2em;
  position: relative;
  display: flex;
  box-sizing: border-box;
  text-align: left;
  padding-block: 40px;
  border-radius: 5px;
  max-width: 932px;
  width: 90%;
  margin-inline: auto;
  box-sizing: border-box;
}

.testimonial-img-container img {
  position: absolute;
  left: 30px;
  width: 244px;
  height: 324px;
  object-fit: cover;
  margin-top: -75px;
  border-radius: 12px;
  box-shadow: 0 0px 10px -5px #0000000A;
}

.testimonial-content {
  margin-left: 290px;
  margin-right: 40px;
  width: 700px;
}

.testimonial-content > p:first-of-type {
  font-size: 1rem;
}

p.name-address {
  margin-top: 24px;
}

/* Tooltips Page */
.tooltips-container {
  display: flex;
  gap: 0.7em;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 1.5em;
  position: relative;
  z-index: -1;
}

.tooltip-container {
  position: relative;
  display: flex;
  width: 384px;
  height: 98px;
  padding: 1em;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 44px;
  filter: drop-shadow(0px 4px 5px #6B728050);
}

.tooltip-container::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50px;
  width: 34px;
  height: 34px;
  transform: rotate(45deg);
  background-color: inherit;
  z-index: -1;
}

.bold-black.tooltip-container {
  background-color: #262626;
  color: #C7C7C7
}

.bold-black h4,
.bold-blue h4,
.bold-pink h4, 
.bold-green h4 {
  color: #FFFFFF;
}

.bold-blue {
  background-color: #1E40AF;
}

.bold-pink {
  background-color: #A9229B;
}

.bold-green {
  background-color: #47AA5D;
}

.light-black {
  background-color: #FFFFFF;
  color: #6B7280;
}

.light-black h4 {
  color: #111827;
}

.light-blue {
  background-color: #E0E7FF;
  color: #1E40AF;
}

.light-blue p {
  color: #1C51B9;
}

.light-pink {
  background-color: #FFF3FC;
  color: #C7369E;
}

.light-pink h4 {
  color: #A9229B;
}

.light-green {
  background-color: #E7FFF3;
  color: #3C8C4E;
}

.light-green h4 {
  color: #137A2A;
}

.tooltip-container svg {
  width: 40px;
  height: 26px;
}

.tooltip-container .tooltip-content {
  margin-left: 12px;
  margin-right: 16px;
}

.tooltip-container .tooltip-content h4 {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.tooltip-content p {
  font-size: 0.89rem;
  line-height: 1.5;
}

.tooltip-container .close-svg {
  align-self: flex-start;
  border-radius: 8px;
  cursor: pointer;
}

.tooltip-container .close-svg path {
  stroke-width: 40;
}

/* Toasts Page */
.toasts-container {
  display: flex;
  gap: 1em;
}

.toast {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  width: 384px;
  height: 78px;
  text-align: left;
  gap: 12px;
  background-color: #137A2A;
  border-radius: 8px;
  padding: 1em;
}

.toast svg {
  align-self: flex-start;
}

.toast > div h5 {
  font-size: 0.9rem;
  font-weight: 500;
}

.toast > div p {
  line-height: 2;
  font-size: 0.89rem;
}

.success {
  background-color: #ECFDF5;
  color: #047857;
}

.success h5 {
  color: #065F46;
}

.success svg {
  color: #34D399;
}

.information {
  background-color: #EFF6FF;
  color: #1C51B9;
}

.information h5 {
  color: #1E40AF;
}

.information svg {
  color: #60A5FA;
}

.warning {
  background-color: #FFFBEB;
  color: #B45309;
}

.warning h5 {
  color: #92400E;
}

.warning svg {
  color: #FBBF24;
}

.error {
  background-color: #FEF2F2;
  color: #B45309;
}

.error h5 {
  color: #92400E;
}

.error svg {
  color: #F87171;
}

@media (max-width: 470px) {
  .main-container {
    margin: 0 1em;
    height: auto;
    min-height: 90vh;
    text-align: center; 
  }

  .nav-menu {
    width: 100vw;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  /* Badges Page */
  .badges-container {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
  }
  .badges-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 1em;
  }

  /* Testimonials Page */
  .testimonial-img-container {
    background-color: #FFFFFF;
    width: 376px;
    height: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonial-img-container > .testimonial-content {
    background-color: #2545B8;
    padding-top: 100px;
    text-align: left;
    width: 100%;
    margin-left: 0;
    z-index: 1;
    margin-top: -80px;
    padding-inline: 16px;
    padding-bottom: 1.5em;
    margin-inline: 0;
  }

  .testimonial-img-container > img {
    object-fit: cover;
    position: relative;
    width: 344px;
    height: 206px;
    left: 0;
    margin-top: -41px;
    object-position: 0px -130px;
    border-radius: 12px;
    z-index: 2;
    box-shadow: 0 10px 10px -5px #0000000A;
  }
  
  .testimonial-content svg {
    margin-top: 48px;
  }

  .testimonial-img-container .content i {
    font-size: 4rem;
    opacity: 0.3;
  }

  .testimonial-content p {
    line-height: 24px;
  }

  .testimonial-content > p:first-of-type {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }

  .testimonial-content p.name-address > span {
    font-weight: 700;
    font-size: 1rem;
  }

  /* Tooltips Page */
  .tooltips-container {
    flex-direction: column;
    align-items: center;
  }

  /* Toasts Page */
  .toasts-container {
    flex-direction: column;
    align-items: center;
  }

}