:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.typewriter {
  display: inline-block;
  margin-bottom: 2em;
}

.typewriter h1 {
  overflow: hidden;
  opacity: 0.8;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 1.5s steps(22, end);
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
